@using App.Domain.Core.User.Dtos
@model AppUserDto
@{
    ViewData["Title"] = "Edit";
}

<h3>ویرایش اطلاعات</h3>

<form asp-controller="Account" asp-action="Edit" method="post">
    <input style="display:none" name="expertId" value="@ViewBag.UserId" />
    <div class="form-group mb-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" readonly/>
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"  />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    @if (User.IsInRole("ExpertRole"))
    {
        <div class="form-group mb-3">
            <a  asp-controller="Account" asp-action="EditExpertSkills" class="btn btn-success text-end">ویرایش تخصص ها</a>
        </div>
    }


    <input type="submit" value="ویرایش اطلاعات" class="btn btn-warning" />
</form>
@section Scripts{
<script>

    $(function() {
        $(".select-chosen").chosen({rtl: true});
    });


</script>
}