@using App.EndPoints.UI.Areas.Admin.Models.ViewModels.UserManagment
@model UserUpdateVM
@{
    ViewData["Title"] = "Edit";
}

<h3>ویرایش کاربر</h3>

<form asp-area="Admin" asp-controller="UserManagment" asp-action="Edit" method="post">

    <div class="form-group mb-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group row p-3">
        <div class="col-4">
            <label asp-for="Roles"></label>
        </div>
        <div class="col-8">
            <select asp-for="Roles" class="select-chosen form-select" asp-items="@ViewBag.Roles" multiple>
                <option disabled selected>انتخاب نقش</option>
                @foreach (var role in Model.Roles)
                {
                    <option value="@role" selected>@role</option>
                }
            </select>
            <span asp-validation-for="Roles" class="text-danger"></span>
        </div>
    </div>
 

    <div class="form-group mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <input type="submit" value="ویرایش کاربر" class="btn btn-warning" />
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(function() {
            $(".select-chosen").chosen({rtl: true});
        });


    </script>
}